div.container
{
    text-align: center;
    width: 70%;
}

.inputbox
{
    width : 800px;
    padding : 10px;
    border-radius: 5px;
}

input.inputbox.title
{
    font-size: 20px;
}

input.publishbutton
{
    font-size: 20px;
    background-color: rgb(78, 184, 78);
    color: white;
    border: 0px;
    border-radius: 5px;
    float: right;
    padding: 10px 20px;
}

.error
{
    color : red;
    text-align: left;
}